html,
body {
  margin: 0;
  height: 100%;
}

label {
  font-size: 25px;
  color: white;
  font-weight: 10;
  font-family: "Candal", serif;
}

small {
  color: white;
  margin-left: 20px;
}
form {
  margin: 0 auto;
  width: 500px;
  padding-top: 0px;
  border-bottom: 0px;
  position: relative;
}

input,
select {
  display: block;
}
input,
select {
  width: 400px;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  font-family: "Sniglet", cursive;
  font-size: 1em;

  transition: border 0.5s;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  -o-transition: border 0.5s;
  border: solid 3px #98d4f3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input:focus,
select:focus {
  border: solid 3px #77bde0;
}
.myButton {
  box-shadow: 0px 1px 0px 0px #1c1b18;
  background: linear-gradient(to bottom, #f8f8f8 5%, #f8efef 100%);
  background-color: #fff9e8;
  border-radius: 15px;
  border: 1px solid #fffdf7;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  color: #1b1e1f;
  font-weight: 10;
  font-family: "Candal", serif;
  padding: 8px 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b9d1e6;
  margin-bottom: 10px;
  margin-top: 20px;
}
.myButton:hover {
  background: linear-gradient(to bottom, #ffffff 5%, #fff9e8 100%);
  background-color: #ccc2a6;
}
.myButton:active {
  position: relative;
  top: 1px;
}
