{% extends 'base.html' %} {% load static %} {% block content %}

<div class="popup" id="Annabelle-Creation">
  <div class="overlay"></div>
  <div class="content">
    <div class="modal-header">
      <div class="close-btn" onclick="Annabelle_Creation()">&times;</div>
      <h2>Annabelle Creation</h2>
    </div>
    <div class="modal-body">
      <img
        src=" {% static 'img/anabel2.jpg' %} "
        alt="Annabelle Creation"
        class="slider-image-modal"
      />
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>
<div class="popup" id="World-War-Z">
  <div class="overlay"></div>
  <div class="content">
    <div class="modal-header">
      <div class="close-btn" onclick="World_War_Z()">&times;</div>
      <h2>World War Z</h2>
    </div>
    <div class="modal-body">
      <img
        src=" {% static 'img/world-war-z.jpg' %} "
        alt="World War Z"
        class="slider-image-modal"
      />
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>
<div class="popup" id="John-Wick-3">
  <div class="overlay"></div>
  <div class="content">
    <div class="modal-header">
      <div class="close-btn" onclick="John_Wick_three()">&times;</div>
      <h2>John Wick: Chapter 3</h2>
    </div>
    <div class="modal-body">
      <img
        src=" {% static 'img/john_wick3.jpg' %} "
        alt="John Wick 3"
        class="slider-image-modal"
      />
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>
<div class="popup" id="IT-2">
  <div class="overlay"></div>
  <div class="content">
    <div class="modal-header">
      <div class="close-btn" onclick="It_dwo()">&times;</div>
      <h2>IT: Chapter 2</h2>
    </div>
    <div class="modal-body">
      <img
        src=" {% static 'img/it-2.jpg' %} "
        alt="It Chapter 2"
        class="slider-image-modal"
      />
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>

<div class="popup" id="Avengers-4">
  <div class="overlay"></div>
  <div class="content">
    <div class="modal-header">
      <div class="close-btn" onclick="Avengers_four()">&times;</div>
      <h2>The Avengers Endgame</h2>
    </div>
    <div class="modal-body">
      <img
        src=" {% static 'img/avengers4.jpg' %} "
        class="slider-image-modal"
        alt="Avengers Endgame"
      />
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>
<div class="popup" id="Annabelle-Comes-Home">
  <div class="overlay"></div>
  <div class="content">
    <div class="modal-header">
      <div class="close-btn" onclick="Annabelle_Comes_Home()">&times;</div>
      <h2>Annabelle Comes Home</h2>
    </div>
    <div class="modal-body">
      <img
        src=" {% static 'img/Annabelle-Comes-Home-2019.jpg' %} "
        alt="Annabelle Comes Home"
        class="slider-image-modal"
      />
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>
<div class="popup" id="John-Wick-2">
  <div class="overlay"></div>
  <div class="content">
    <div class="modal-header">
      <div class="close-btn" onclick="John_Wick_two()">&times;</div>
      <h2>John Wick: Chapter 2</h2>
    </div>
    <div class="modal-body">
      <img
        src=" {% static 'img/john_wick2.jpg' %} "
        alt="John Wick 2"
        class="slider-image-modal"
      />
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>
<div class="popup" id="Avengers-3">
  <div class="overlay"></div>
  <div class="content">
    <div class="modal-header">
      <div class="close-btn" onclick="Avengers_three()">&times;</div>
      <h2>Avengers: Infinity War</h2>
    </div>
    <div class="modal-body">
      <img
        src=" {% static 'img/avengers3.jpg' %} "
        alt="Avengers Infinity War"
        class="slider-image-modal"
      />
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>
<div class="popup" id="John-Wick-1">
  <div class="overlay"></div>
  <div class="content">
    <div class="modal-header">
      <div class="close-btn" onclick="John_Wick_one()">&times;</div>
      <h2>John Wick</h2>
    </div>
    <div class="modal-body">
      <img
        src=" {% static 'img/john_wick1.jpg' %} "
        alt="John Wick 2"
        class="slider-image-modal"
      />
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>
<div class="popup" id="Avengers-1">
  <div class="overlay"></div>
  <div class="content">
    <div class="modal-header">
      <div class="close-btn" onclick="Avengers_one()">&times;</div>
      <h2>Avengers</h2>
    </div>
    <div class="modal-body">
      <img
        src=" {% static 'img/avengers.jpg' %} "
        alt="Avengers "
        class="slider-image-modal"
      />
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>
<div class="popup" id="Avengers-2">
  <div class="overlay"></div>
  <div class="content">
    <div class="modal-header">
      <div class="close-btn" onclick="Avengers_two()">&times;</div>
      <h2>The Avengers Age Of Ultorn</h2>
    </div>
    <div class="modal-body">
      <img
        src=" {% static 'img/avengers2.jpg' %} "
        alt="Avengers Age of Ultron"
        class="slider-image-modal"
      />
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>

<div class="popup" id="IT-1">
  <div class="overlay"></div>
  <div class="content">
    <div class="modal-header">
      <div class="close-btn" onclick="It_one()">&times;</div>
      <h2>IT- part 1 (1990)</h2>
    </div>
    <div class="modal-body">
      <img
        src=" {% static 'img/it.jpg' %} "
        alt="IT"
        class="slider-image-modal"
      />
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>

<div class="popup" id="The-Witch">
  <div class="overlay"></div>
  <div class="content">
    <div class="modal-header">
      <div class="close-btn" onclick="The_Witch()">&times;</div>
      <h2>The Witch</h2>
    </div>
    <div class="modal-body">
      <img
        src=" {% static 'img/the-witch.jpg' %} "
        alt="The Witch"
        class="slider-image-modal"
      />
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>

<div class="popup" id="The-Silence-Of-The-Lambs">
  <div class="overlay"></div>
  <div class="content">
    <div class="modal-header">
      <div class="close-btn" onclick="The_Silence_Of_The_Lambs()">&times;</div>
      <h2>The Silence Of The Lambs</h2>
    </div>
    <div class="modal-body">
      <img
        src=" {% static 'img/the-silence-of-the-lambs.jpg' %} "
        alt="The Silence Of The Lambs"
        class="slider-image-modal"
      />
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>
<div class="popup" id="Harry-Potter-1">
  <div class="overlay"></div>
  <div class="content">
    <div class="modal-header">
      <div class="close-btn" onclick="Harry_Potter_one()">&times;</div>
      <h2>Harry Potter and The Sorcerer's Stone</h2>
    </div>
    <div class="modal-body">
      <img
        src=" {% static 'img/harry-potter-1.jpg' %} "
        alt="Harry Potter and The Sorcerer's Stone"
        class="slider-image-modal"
      />
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>

<div class="popup" id="Hobbit-1">
  <div class="overlay"></div>
  <div class="content">
    <div class="modal-header">
      <div class="close-btn" onclick="Hobbit_one()">&times;</div>
      <h2>The Hobbit an Unexpected Journey</h2>
    </div>
    <div class="modal-body">
      <img
        src=" {% static 'img/hobbit-1a.jpg' %} "
        alt="the hobbit an unexpected journey"
        class="slider-image-modal"
      />
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>

<div class="popup" id="Fantastic-Beasts-1">
  <div class="overlay"></div>
  <div class="content">
    <div class="modal-header">
      <div class="close-btn" onclick="Fantastic_Beasts_one()">&times;</div>
      <h2>Fantastic Beasts and Where to Find Them</h2>
    </div>
    <div class="modal-body">
      <img
        src=" {% static 'img/fantastic-beasts-1.jpg' %} "
        alt="Fantastic Beasts and Where to Find Them"
        class="slider-image-modal"
      />
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>
<div class="popup" id="Harry-Potter-2">
  <div class="overlay"></div>
  <div class="content">
    <div class="modal-header">
      <div class="close-btn" onclick="Harry_Potter_two()">&times;</div>
      <h2>Harry Potter and the Chamber of Secrets</h2>
    </div>
    <div class="modal-body">
      <img
        src=" {% static 'img/harry-potter-2.jpg' %} "
        alt="harry potter and the chamber of secrets"
        class="slider-image-modal"
      />
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>

<div class="popup" id="Bright">
  <div class="overlay"></div>
  <div class="content">
    <div class="modal-header">
      <div class="close-btn" onclick="Bright()">&times;</div>
      <h2>Bright</h2>
    </div>
    <div class="modal-body">
      <img
        src=" {% static 'img/bright.jpg' %} "
        alt="Bright"
        class="slider-image-modal"
      />
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>

<div class="popup" id="Star-Trek">
  <div class="overlay"></div>
  <div class="content">
    <div class="modal-header">
      <div class="close-btn" onclick="Star_Trek()">&times;</div>
      <h2>Star Trek</h2>
    </div>
    <div class="modal-body">
      <img
        src=" {% static 'img/starttrek.jpg' %} "
        alt="Star Trek"
        class="slider-image-modal"
      />
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>

<div class="popup" id="Black-Panther">
  <div class="overlay"></div>
  <div class="content">
    <div class="modal-header">
      <div class="close-btn" onclick="Black_Panther()">&times;</div>
      <h2>Black Panther</h2>
    </div>
    <div class="modal-body">
      <img
        src=" {% static 'img/black-panther.jpg' %} "
        alt="Black Panther"
        class="slider-image-modal"
      />
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>
{% comment %} modal iframes {% endcomment %}
<div class="popup" id="World-War-Z-movie">
  <div class="overlay"></div>
  <div class="content-iframe">
    <div class="modal-header">
      <div class="close-btn" onclick="World_War_Z_movie()">&times;</div>
      <h2>World War Z</h2>
    </div>
    <div class="modal-body-iframe">
      <iframe
        src="https://www.youtube.com/embed/Md6Dvxdr0AQ"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="slider-iframe-modal"
      ></iframe>
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>
<div class="popup" id="Annabelle-Creation-movie">
  <div class="overlay"></div>
  <div class="content-iframe">
    <div class="modal-header">
      <div class="close-btn" onclick="Annabelle_Creation_movie()">&times;</div>
      <h2>Annabelle Creation</h2>
    </div>
    <div class="modal-body-iframe">
      <iframe
        src="https://www.youtube.com/embed/KisPhy7T__Q"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="slider-iframe-modal"
      ></iframe>
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>

<div class="popup" id="John-Wick-3-movie">
  <div class="overlay"></div>
  <div class="content-iframe">
    <div class="modal-header">
      <div class="close-btn" onclick="John_Wick_three_movie()">&times;</div>
      <h2>John Wick: Chapter 3</h2>
    </div>
    <div class="modal-body-iframe">
      <iframe
        src="https://www.youtube.com/embed/M7XM597XO94"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="slider-iframe-modal"
      ></iframe>
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>
<div class="popup" id="IT-2-movie">
  <div class="overlay"></div>
  <div class="content-iframe">
    <div class="modal-header">
      <div class="close-btn" onclick="It_dwo_movie()">&times;</div>
      <h2>IT: Chapter 2</h2>
    </div>
    <div class="modal-body-iframe">
      <iframe
        src="https://www.youtube.com/embed/xhJ5P7Up3jA"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="slider-iframe-modal"
      ></iframe>
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>

<div class="popup" id="Avengers-4-movie">
  <div class="overlay"></div>
  <div class="content-iframe">
    <div class="modal-header">
      <div class="close-btn" onclick="Avengers_four_movie()">&times;</div>
      <h2>The Avengers Endgame</h2>
    </div>
    <div class="modal-body-iframe">
      <iframe
        src="https://www.youtube.com/embed/TcMBFSGVi1c"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="slider-iframe-modal"
      ></iframe>
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>

<div class="popup" id="Annabelle-Comes-Home-movie">
  <div class="overlay"></div>
  <div class="content-iframe">
    <div class="modal-header">
      <div class="close-btn" onclick="Annabelle_Comes_Home_movie()">
        &times;
      </div>
      <h2>Annabelle Comes Home</h2>
    </div>
    <div class="modal-body-iframe">
      <iframe
        src="https://www.youtube.com/embed/bCxm7cTpBAs"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="slider-iframe-modal"
      ></iframe>
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>

<div class="popup" id="John-Wick-2-movie">
  <div class="overlay"></div>
  <div class="content-iframe">
    <div class="modal-header">
      <div class="close-btn" onclick="John_Wick_two_movie()">&times;</div>
      <h2>John Wick: Chapter 2</h2>
    </div>
    <div class="modal-body-iframe">
      <iframe
        src="https://www.youtube.com/embed/XGk2EfbD_Ps"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="slider-iframe-modal"
      ></iframe>
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>

<div class="popup" id="Avengers-3-movie">
  <div class="overlay"></div>
  <div class="content-iframe">
    <div class="modal-header">
      <div class="close-btn" onclick="Avengers_three_movie()">&times;</div>
      <h2>Avengers: Infinity War</h2>
    </div>
    <div class="modal-body-iframe">
      <iframe
        src="https://www.youtube.com/embed/6ZfuNTqbHE8"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="slider-iframe-modal"
      ></iframe>
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>

<div class="popup" id="John-Wick-1-movie">
  <div class="overlay"></div>
  <div class="content-iframe">
    <div class="modal-header">
      <div class="close-btn" onclick="John_Wick_one_movie()">&times;</div>
      <h2>John Wick</h2>
    </div>
    <div class="modal-body-iframe">
      <iframe
        src="https://www.youtube.com/embed/C0BMx-qxsP4"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="slider-iframe-modal"
      ></iframe>
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>

<div class="popup" id="Avengers-1-movie">
  <div class="overlay"></div>
  <div class="content-iframe">
    <div class="modal-header">
      <div class="close-btn" onclick="Avengers_one_movie()">&times;</div>
      <h2>Avengers</h2>
    </div>
    <div class="modal-body-iframe">
      <iframe
        src="https://www.youtube.com/embed/eOrNdBpGMv8"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="slider-iframe-modal"
      ></iframe>
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>

<div class="popup" id="Avengers-2-movie">
  <div class="overlay"></div>
  <div class="content-iframe">
    <div class="modal-header">
      <div class="close-btn" onclick="Avengers_two_movie()">&times;</div>
      <h2>Avengers</h2>
    </div>
    <div class="modal-body-iframe">
      <iframe
        src="https://www.youtube.com/embed/tmeOjFno6Do"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="slider-iframe-modal"
      ></iframe>
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>

<div class="popup" id="IT-1-movie">
  <div class="overlay"></div>
  <div class="content-iframe">
    <div class="modal-header">
      <div class="close-btn" onclick="It_one_movie()">&times;</div>
      <h2>IT- part 1 (1990)</h2>
    </div>
    <div class="modal-body-iframe">
      <iframe
        src="https://www.youtube.com/embed/m5JO8wtNnzQ"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="slider-iframe-modal"
      ></iframe>
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>
<div class="popup" id="The-Witch-movie">
  <div class="overlay"></div>
  <div class="content-iframe">
    <div class="modal-header">
      <div class="close-btn" onclick="The_Witch_movie()">&times;</div>
      <h2>The Witch</h2>
    </div>
    <div class="modal-body-iframe">
      <iframe
        src="https://www.youtube.com/embed/iQXmlf3Sefg"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="slider-iframe-modal"
      ></iframe>
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>
<div class="popup" id="The-Silence-Of-The-Lambs-movie">
  <div class="overlay"></div>
  <div class="content-iframe">
    <div class="modal-header">
      <div class="close-btn" onclick="The_Silence_Of_The_Lambs_movie()">
        &times;
      </div>
      <h2>The Silence Of The Lambs</h2>
    </div>
    <div class="modal-body-iframe">
      <iframe
        src="https://www.youtube.com/embed/W6Mm8Sbe__o"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="slider-iframe-modal"
      ></iframe>
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>
<div class="popup" id="Harry-Potter-1-movie">
  <div class="overlay"></div>
  <div class="content-iframe">
    <div class="modal-header">
      <div class="close-btn" onclick="Harry_Potter_one_movie()">&times;</div>
      <h2>Harry Potter and The Sorcerer's Stone</h2>
    </div>
    <div class="modal-body-iframe">
      <iframe
        src="https://www.youtube.com/embed/VyHV0BRtdxo"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="slider-iframe-modal"
      ></iframe>
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>

<div class="popup" id="Hobbit-1-movie">
  <div class="overlay"></div>
  <div class="content-iframe">
    <div class="modal-header">
      <div class="close-btn" onclick="Hobbit_one_movie()">&times;</div>
      <h2>The Hobbit an Unexpected Journey</h2>
    </div>
    <div class="modal-body-iframe">
      <iframe
        src="https://www.youtube.com/embed/9PSXjr1gbjc"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="slider-iframe-modal"
      ></iframe>
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>
<div class="popup" id="Fantastic-Beasts-1-movie">
  <div class="overlay"></div>
  <div class="content-iframe">
    <div class="modal-header">
      <div class="close-btn" onclick="Fantastic_Beasts_one_movie()">
        &times;
      </div>
      <h2>Fantastic Beasts and Where to Find Them</h2>
    </div>
    <div class="modal-body-iframe">
      <iframe
        src="https://www.youtube.com/embed/ViuDsy7yb8M"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="slider-iframe-modal"
      ></iframe>
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>
<div class="popup" id="Harry-Potter-2-movie">
  <div class="overlay"></div>
  <div class="content-iframe">
    <div class="modal-header">
      <div class="close-btn" onclick="Harry_Potter_two_movie()">&times;</div>
      <h2>Harry Potter and the Chamber of Secrets</h2>
    </div>
    <div class="modal-body-iframe">
      <iframe
        src="https://www.youtube.com/embed/1bq0qff4iF8"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="slider-iframe-modal"
      ></iframe>
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>

<div class="popup" id="Bright-movie">
  <div class="overlay"></div>
  <div class="content-iframe">
    <div class="modal-header">
      <div class="close-btn" onclick="Bright_movie()">&times;</div>
      <h2>Bright</h2>
    </div>
    <div class="modal-body-iframe">
      <iframe
        src="https://www.youtube.com/embed/6EZCBSsBxko"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="slider-iframe-modal"
      ></iframe>
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>

<div class="popup" id="Star-Trek-movie">
  <div class="overlay"></div>
  <div class="content-iframe">
    <div class="modal-header">
      <div class="close-btn" onclick="Star_Trek_movie()">&times;</div>
      <h2>Star Trek</h2>
    </div>
    <div class="modal-body-iframe">
      <iframe
        src="https://www.youtube.com/embed/pKFUZ10Wmbw"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="slider-iframe-modal"
      ></iframe>
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>

<div class="popup" id="Black-Panther-movie">
  <div class="overlay"></div>
  <div class="content-iframe">
    <div class="modal-header">
      <div class="close-btn" onclick="Black_Panther_movie()">&times;</div>
      <h2>Black Panther</h2>
    </div>
    <div class="modal-body-iframe">
      <iframe
        src="https://www.youtube.com/embed/xjDjIWPwcPU"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="slider-iframe-modal"
      ></iframe>
    </div>
    <div class="modal-footer">
      <h6 class="main-info"><big> 2013:&nbsp;16+</big></h6>

      <h6>
        <big>
          Categories:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
      <h6>
        <big>
          Cast:&nbsp;&nbsp;&nbsp;&nbsp;
          <small>Horror</small>
        </big>
      </h6>
    </div>
  </div>
</div>

{% endblock content %}
