{% extends 'base.html' %} {% load static %} {% block head_css_site %}
{{block.super }}
<link href="{% static 'navbar.css' %}" rel="stylesheet" type="text/css" />
{% endblock head_css_site %} {% block content %}

<nav class="navbar">
  <ul>
    <li>
      <a href="#"
        ><img
          src="{% static 'img/logos.png' %}"
          width="30"
          height="30"
          alt=""
        />
        movies.com</a
      >
    </li>
    <li></li>
    <li class="rest-li"><a href="/">Home</a></li>
    <li class="rest-li"><a href="#">About</a></li>
    <li class="rest-li"><a href="#">Categories</a></li>
    {% if user.is_authenticated %}
    <li class="rest-li"><a href="/logout">Log out</a></li>
    <li class="rest-li"><a href="/users/profile">Profile</a></li>
    {% else %}
    <li class="rest-li"><a href="/login">Log in</a></li>
    {% endif %} 
  </ul>
</nav>

{% endblock content %} {% block head_js_site %} {{block.super }}
<script src="{% static 'javascript/navbar.js' %}"></script>
{% endblock head_js_site %}
