{% extends 'base.html' %} {% load static %} {%block head_css_site %}
{{block.super }}
<link href="{% static 'signup.css' %}" rel="stylesheet" type="text/css" />
{% endblock head_css_site %} {% block content %} {% include 'navbar.html' %}
<div class="sign_up_form">

  <form method="POST">
    {% csrf_token %}
    {% if messages %} 
<h1 style="color:white; font-family: Candal, serif; margin: 0; padding: 0; font-size: 25px; padding-bottom: 4px  ">{% for message in messages %} {{message}} {%endfor %} </h1> {%endif %}
    {% if form.username.errors %} 
    <h1 style="color:red; font-family: Candal, serif; margin: 0; padding: 0; font-size: 17px; padding-bottom: 4px  ">Username already exists</h1>
    {% endif %}
    <label for="username">Username: </label>
    <p id="username" class="contact">{{ form.username }}</p>
    {% if form.email.errors %} 
    <h1 style="color:red; font-family: Candal, serif; margin: 0; padding: 0; font-size: 17px; padding-bottom: 4px  ">Email is already in use  </h1>
    {% endif %}
    <label for="email">Email: </label>
    <p id="email" class="contact">{{ form.email }}</p>
    <label for="password1">Subscription: </label>
    <p id="password1" class="contact"> {{form.subscription }}</p>
    <label for="first_name">First name: </label>
    <p id="first_name" class="contact">{{ form.first_name }}</p>
    <label for="last_name">Last name: </label>
    <p id="last_name" class="contact">{{ form.last_name }}</p>
    <label for="birthDate">Birth date: </label>
    <p id="birthDate" class="contact">{{ form.birthDate }}</p>
    <label for="country">Country: </label>
    <p id="country" class="contact">{{ form.country }}</p>
    <button class="myButton" type="submit">Update Profile</button>
    
  </form>
  </div>
  {% endblock content %} {% block head_js_site %} {{block.super }}
  <script src="{% static 'javascript/register.js' %}"></script>
  {% endblock head_js_site %}
</div>
